<!--/ DETAIL INFO MODAL -->
<div class="modal fade" id="dealinfoCtrl" tabindex="-1" role="dialog" ng-controller="dealinfoCtrl" ng-init="init()">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'TRANSACTION_INFO' | translate}} <span>({{transactions.length}})</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>ID</td>
                        <td>{{'CONFIRMATIONS' | translate}}</td>
                        <td>{{'AMOUNTS' | translate}}</td>
                        <td>{{'FEES' | translate}}</td>
                        <td>{{'DATE' | translate}}</td>
                    </tr>
                    <tr class="table_content" ng-repeat="i in transactions">
                        <td style="word-break: break-all;"><i>{{i.id}}</i></td>
                        <td>{{i.confirmations}}</td>
                        <td><b>{{i.amount | xasFilter}}</b>/<i>BTW</i></td>
                        <td><b>{{i.fee | xasFilter}}</b>/<i>BTW</i></td>
                        <td>{{i.timestamp | timestampFilter}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!--/ END: DETAIL INFO MODAL -->

